<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Accesso zona amministrativa</title>
</head>
<body>
	<section class="menu">
		<h1>TU ZIO</h1>
		<br/><hr><br/>
	</section>
	<form action="/log_in" onsubmit="">
		Username: <input name="usr" type="text" required/><br/>
		Password: <input name="pass" type="password" required/><br/>
		<input type="submit" value="Log In"/>	<input type="reset" value="Reset"/><br/>
	</form>
	<br/><hr><br/>
	<a href="index.html">Back Home</a>
</body>
</html>